body {
    background-color: rgb(57, 253, 194);
    font-family: cursive;
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    font-family: cursive;
    padding: 5px 0 5px 10px;
    width: 94%;
    font-size: 100%;
    box-shadow: 0 0 5px rgb(136, 136, 136);
    border: none;
    cursor: pointer;
    transition: background-color 0.2s linear;
    border-radius: 5px;

    &::placeholder {
        color: lightgray;
    }

    &:hover {
        background-color: rgb(230, 230, 230);
    }
}

.error-message,
.success-message{
    text-align: center;
    font-size: 80%;
}

.error-message{
    color: red;
}

.success-message{
    color: green;
}